<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.


Objectives:

List popular languages that Data Scientists use.

List commonly used libraries used by Data Scientists.

Comment on Data Science tools.

Some of the popular languages that Data Scientists use are:

1) Python
2)R
3)Scala
4)Java

Some of the commonly used libraries used by Data Scientists include:

1)Pandas
2)Numpy
3)Matplotlib
4)keras
5)pytorch

Data Science Tools

         Data Science Tools

Github

Jupter

MySQL

MongoDB

Apache Spark

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [2]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5
# Result: 17

17

This will convert 200 minutes to hours by diving by 60

In [5]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

Author:

Haidy Raafat